.content{
    margin-top: 20px;
    margin-left: 30px;
}
.form{
    height: 80vh;
    width: auto;
    background: #fff;
    padding-top: 30px;
    padding-left: 30px;
}
.search{
    margin-top: 10px;
    width: 40%;
    border-radius: 30px;
}
.form-control{
    background: #ECECEC;
    height: 50px;
    width: 391px;
}
.icon-tambah{
    display: flex;
    display: inline;
}
.btn{
    border-radius: 50%;
}
table{
    border-color: antiquewhite;
    border-collapse: collapse;
    width: 97%;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
}
th {
    background-color: #A1A1A1;
}
tr:hover {background-color: #f5f5f5;
}
nav{
    border: 0px;
    display: flex;
    justify-content: center;
    margin-top: 27px;
}

